*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Times New Roman', Times, serif;
   outline: none;
   font-weight: bold;
   /* background-image: linear-gradient(to right,#FCA5F1,#B5FFFF); */
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                       5px 5px 12ppx rgba(0,0,0,0.166);
    display: grid;
    grid-template-columns: repeat(4,68px);



}
.calculator h1{
    margin-left: 28px;

    color: rgb(90, 90, 90);
    font-weight: 100;
}
input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: white;
    box-shadow: inset -5px -5px 12px #ffff,
                  inset 5px 5px 12px rgba(0,0,0,0.16);
                  border: none;
                  border-radius: 30px;
                  color: rgb(90, 90, 90);
                  font-size: 50px;
                  text-align: end;
                  margin: auto;
                  font-weight: 100;
                  margin-top: 40px;
                  margin-bottom: 30px;
                  padding: 20px;


}
button{
    height: 48px;
    width: 48px;
    background-color: #ffffff;
    box-shadow: -5px -5px 12px #e9e4e4;
     border: none;
     border-radius: 50%;
     margin:8px;
     font-size: 16px;
   color: rgb(90, 90, 90);
    }
.equal{
    width: 115px;
    border-radius:40px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px 5px 12px rgba(0,0,0,0.16);
}